<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-segment value="favorites">
      <ion-segment-button value="favorites">
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button value="all">
        <ion-label>My</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let event of events" [button]="true" (click)="view_event(event.id)">
    <img alt="Silhouette of mountains" src="http://localhost:4000/images/honda.jpg" />

    <ion-card-header>
      <ion-card-title>{{ event.title }} {{ event.start_date }} {{ event.start_time }}</ion-card-title>
      <ion-card-subtitle><ion-badge>{{ event.type_name }}</ion-badge></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ event.description }}
    </ion-card-content>
  </ion-card>

</ion-content>
